body {
  font-family: sans-serif;
}

section {
  width: 100%;
  float: left;
}

img {
  height: 150px;
  width: 300px;

}

.my-projects {
  float: left;
  width: 300px;
  margin: 6px;
  padding: 2px;
  border: 1px solid green;
  background-color: lightgreen;
}

.bio {
  float: right;
  width: 40%;
  margin: 6px;
  padding: 2px;
  border: 1px solid blue;
  background-color: lightblue;
  text-align: center;
}

.skills {
  float: left;
  width: 300px;
  margin: 4px;
  padding: 2px;
  border: 1px solid gray;
  text-align: center;

}
